body{
    background: #E7ECEF;
}
.bg-white{
    background-color: #fff;
}
.vertical-gap{
    margin-bottom: 15px;
}
.border-b-none{
    border-bottom: none!important;
}
.sq-header{
    color: #fff;
    height: 40px;
    background: #393D49;
}
.sq-header .row>div{
    height: 40px;
    line-height: 40px;
}
.sq-nav{
    height: 50px;
    box-shadow: 0 2px 4px #555;
}
.navbar{
    border: none;
    margin-bottom: 0;
    z-index: 9;
    border-bottom: 1px solid #eee;
}
.sq-content{
    padding: 15px 0;
}
.sq-banner{
    height: 150px;
}


.sq-article{
    padding: 5px 20px;
    min-height: 300px;
}
.sq-article>div{
    font-size: 12px;
    color: #aaa;
    margin-bottom: 15px;
}




.sq-author{
    position: relative;
    padding: 15px;
}
.sq-author-name{
    position: absolute;
    top: 15px;
    left: -8px;
    background-color: #D13030;
    height: 25px;
    line-height: 25px;
    padding: 0 15px 0 18px;
    color: #fff;
}
.sq-author-name:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-left: 8px solid transparent;
    border-top: 5px solid #555;
}
.sq-author-head{
    height: 61px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ddd;
}
.sq-author-head>div{
    font-size: 12px;
    padding-top: 38px;
}
.sq-author>p{
    word-break: break-all;
    text-indent: 2em;
    text-align: justify;
}


.sq-left-tag{
    border-radius: 2px;
    border: 1px solid #ddd;
}
.sq-left-tag>.title{
    height: 30px;
    line-height: 30px;
    padding-left: 14px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.sq-left-tag>.content{
    min-height: 150px;
    background-color: #fff;
}

.article-list-tree{
    padding: 0 0 15px 10px;
    overflow: auto;
}

.sq-footer{
    height: 180px;
    background-color: #2a2730;
}

@media (min-width: 768px){
    .vertical-gap{
        margin-bottom: 30px;
    }
    .sq-content{
        padding: 30px 0;
    }
    .navbar{
        border-bottom: none;
    }
}
@media (min-width: 992px){

}