body{
    background: #E7ECEF;
}
.bg-white{
    background-color: #fff;
}
.mg-30{
    margin-bottom: 30px;
}
.sq-header{
    color: #fff;
    height: 40px;
    background: #393D49;
}
.sq-header .row>div{
    height: 40px;
    line-height: 40px;
}
.sq-nav{
    height: 50px;
    box-shadow: 0 2px 4px #555;
}
.navbar{
    border: none;
    margin-bottom: 0;
}
.sq-content{
    padding: 30px 0 50px;
}
.sq-banner{
    height: 150px;
}
.sq-article{
    min-height: 800px;
}
.sq-author{
    position: relative;
    padding: 15px;
}
.sq-author-name{
    position: absolute;
    top: 15px;
    left: -8px;
    background-color: #D13030;
    height: 25px;
    line-height: 25px;
    padding: 0 15px 0 18px;
    color: #fff;
}
.sq-author-name:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-left: 8px solid transparent;
    border-top: 5px solid #555;
}
.sq-author-head{
    height: 61px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ddd;
}
.sq-author-head>div{
    font-size: 12px;
    padding-top: 38px;
}
.sq-author>p{
    word-break: break-all;
    text-indent: 2em;
    text-align: justify;
}

.sq-footer{
    height: 180px;
    background-color: #2a2730;
}
.sq-art-item{
    padding: 20px;
}
.sq-comment{
    height: 800px;
}